$grey: #6a7480;
$headerBg: #2c3949;
$niitBlue: #4682c4;
$navHighlight:#208BE0;

.top-nav {
  height: 60px;
  line-height: 60px;
  span {
    i {
      margin-right: 10px;
      cursor: pointer;
    }
  }
}


.nav-item{
    a{
        color: #ffffff;
        display: block;
        padding: 20px 30px;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
    }
    a:hover{
        background-color: $navHighlight;
    }
    li{
        display: block;
        padding: 20px;
    }

    li:hover{
        background-color: $niitBlue;
    }
}