<div class="top-nav-bg top-nav col-lg-12 container-fluid">
  <span class="pull-right text-white">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
  </span>
  <span class="clearfix"></span>
</div>
<div class="bg-header container-fluid">
  <div class="col-lg-10 offset-lg-1 col-sm-12">
    <a href="" class="navbar-brand"
      ><img src="assets/imgs/logo-niit-abuja.png" height="50" alt=""
    /></a>
  </div>
  <div class="col-lg-10 offset-lg-1 col-sm-12">
    <nav class="navbar navbar-expand-sm ">
      <!-- Toggler/collapsibe Button -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon ">
          <i class="fa fa-bars link-up text-white"></i
        ></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a
              [routerLink]="['overview']"
              routerLinkActive="router-link-active"
              class="nav-link"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['my-business']"
              routerLinkActive="router-link-active"
              class="nav-link"
              >COURSES</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['services']"
              routerLinkActive="router-link-active"
              class="nav-link"
              >Young Summer</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['transactions']"
              routerLinkActive="router-link-active"
              class="nav-link"
              >Undergrad Summer</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['users']"
              routerLinkActive="router-link-active"
              class="nav-link"
              >BLOG</a
            >
          </li>

          <li class="nav-item">
            <a
              [routerLink]="['users']"
              routerLinkActive="router-link-active"
              class="nav-link"
              >ABOUT</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['users']"
              routerLinkActive="router-link-active"
              class="nav-link"
              >CONTACT</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['users']"
              routerLinkActive="router-link-active"
              class="nav-link"
              >MANAGEMENT COURSES</a
            >
          </li>
        </ul>
      </div>
      <!-- <div class="collapse navbar-collapse pull-right" id="collapsibleNavbar">
          
        </div> -->
    </nav>
  </div>
</div>
