.footer-padding {
  padding-top: 50px;
}

.footer-header {
  padding: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.footer-link {
  padding: 10px 0;
  font-size: 12px;
  color: rgba($color: #fff, $alpha: 0.7);
}
