<div class="container-fluid bg-header footer-padding">
  <div class="row">
    <div class="col-lg-5 ">
      <div style="float: right; position: relative;" class="">
        <span class="block">
          <img src="assets/imgs/logo-niit-abuja.png" alt="" height="50" />
        </span>
        <div
          class="col-lg-6  "
          style="font-size: 14px; line-height: 28px; position: relative; left: 120px;"
        >
          <span class="text-white block "
            >NIIT established its presence in Nigeria in 1999 and since then
            affirmed its support to prepare the youth in the country for
            lucrative IT careers. NIIT trains over 16,000 students in Nigeria
            every year and has shaped the careers of over 160,000 students in
            the past 16 years.</span
          >
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <span class="" style="float: left; width: 250px;">
        <span class="block footer-header text-white">Quick Links</span>
        <span class="block footer-link">Home</span>
        <span class="block footer-link">Events</span>
        <span class="block footer-link">Courses</span>
        <span class="block footer-link">Blog</span>
        <span class="block footer-link">About</span>
        <span class="block footer-link">Contact</span>
      </span>
      <span class="" style="float: left; width: 250px;">
        <span class="block footer-header text-white">Contact Us</span>
        <span class="block footer-link"
          ><i class="fa fa-home"></i> &nbsp; 8 Sirakoro Street, Off Blantrye
          Street, Wuse II, Abuja.</span
        >
        <span class="block footer-link"
          ><i class="fa fa-phone"></i> &nbsp; (+234) 905-509-6016</span
        >
        <span class="block footer-link"
          ><i class="fa fa-phone"></i> &nbsp;(+234) 905-509-6019</span
        >
        <span class="block footer-link"
          ><i class="fa fa-envelope"></i> &nbsp;info@niitabuja.com</span
        >
        <span class="block footer-link">
          <i class="fa fa-facebook"></i> &nbsp;
          <i class="fa fa-instagram"></i>
        </span>
      </span>
    </div>
  </div>
  <hr />
  <br />
  <div class="col-lg-12 center-text centered-flex form-row">
    <div class="centered-flex center-text" style="text-align: center;">
      <span class="text-white" style="font-size: 15px; text-align: center;"
        >Copyright © 2019 NIIT Abuja. All rights reserved.
      </span>
    </div>
  </div>
</div>
