<div class="container-fluid bg-hero">
  <div class="hero-section row">
    <div class="col-lg-7"></div>
    <div class="col-lg-5 hero-section centered-flex">
      <div class="form-box bg-niit col-lg-10">
        <form [formGroup]="appForm" (ngSubmit)="handleSubmit()">
          <div class="form-row">
            <span class="form-heading">Apply for scholarship</span>
          </div>
          <div class="form-row">
            <input
              type="text"
              class="text-box"
              placeholder="Full Name e.g John Doe"
              formControlName="fullName"
            />
            <span
              class="error-text-red"
              *ngIf="
                isSubmitted && fullName.invalid && fullName.errors.required
              "
              >Please provide your full name</span
            >
          </div>
          <div class="form-row">
            <input
              type="text"
              class="text-box"
              placeholder="Email Address e.g john.doe@gmail.com"
              formControlName="emailAddress"
            />
            <span
              class="error-text-red"
              *ngIf="
                isSubmitted &&
                emailAddress.invalid &&
                emailAddress.errors.required
              "
              >Please provide your email addresse</span
            >
          </div>
          <div class="form-row">
            <input
              type="text"
              class="text-box"
              placeholder="Phone e.g 080233933876"
              formControlName="phoneNumber"
            />
            <span
              class="error-text-red"
              *ngIf="
                isSubmitted &&
                phoneNumber.invalid &&
                phoneNumber.errors.required
              "
              >Please provide your phone number</span
            >
          </div>
          <div class="form-row">
            <select
              class="select-css text-box"
              formControlName="sourceOfKnowledge"
            >
              <option [ngValue]="null" disabled
                >How did you get to know about our scholarship</option
              >
              <option value="{{ source }}" *ngFor="let source of sources">{{
                source
              }}</option>
            </select>
          </div>
          <div class="form-row">
            <select class="select-css text-box" formControlName="timeSlot">
              <option [ngValue]="null" disabled>Select An Time Slot</option>
              <option value="{{ slot }}" *ngFor="let slot of timeSlots">{{
                slot
              }}</option>
            </select>
            <span
              class="error-text-red"
              *ngIf="
                isSubmitted && timeSlot.invalid && timeSlot.errors.required
              "
              >Please provide select a time slot</span
            >
          </div>
          <div class="form-row">
            <select class="select-css text-box" formControlName="status">
              <option [ngValue]="null" disabled class=""
                >Current Educational Status</option
              >
              <option value="{{ level }}" *ngFor="let level of levels">{{
                level
              }}</option>
            </select>
            <span
              class="error-text-red"
              *ngIf="isSubmitted && status.invalid && status.errors.required"
              >Please select your current educational status</span
            >
          </div>
          <div class="form-row">
            <button class="app-button bg-header text-white uppercase">
              <span *ngIf="loading"><i class="fa fa-spin fa-spinner"></i></span>
              <span *ngIf="!loading">Submit</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
