$grey: #6a7480;
$headerBg: #2c3949;
$niitBlue: #4682c4;
$navHighlight: #208be0;

.course-box {
  .course-img {
    height: 150px;
    overflow: hidden;
  }
  .course-text {
    box-sizing: border-box;
    padding: 30px 20px;
    background-color: $headerBg;
    .course-title {
      font-weight: bold;
      font-size: 17px;
      color: white;
    }

    .course-star {
      color: #f3f709;
      padding: 10px 0;
    }
    .course-outcome {
      font-size: 13px;
      color: rgba($color: #ffffff, $alpha: 0.7);
      padding: 10px 0;
    }
    .course-duration {
      font-size: 12px;
      font-style: italic;
      color: rgba($color: #ffffff, $alpha: 0.7);
      padding: 10px 0;
    }
  }
}
