<div class="container-fluid home-section">
  <div class="col-lg-12 center-text">
    <span class="section-header block uppercase">Courses we provide</span>
    <span class="section-header-sub block">Courses we provide</span>
  </div>
  <div class=""></div>
  <div class="col-lg-8 offset-lg-2">
    <div class="row">
      <div class="col-lg-3">
        <div class="course-box">
          <div class="course-img"></div>
          <div class="course-text center-text">
            <span class="course-title uppercase block">Diploma in python</span>
            <span class="course-star block text-yellow">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <span class="course-outcome block">Diploma in python</span>
            <span class="course-duration block">3 Years</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="course-box">
          <div class="course-img"></div>
          <div class="course-text center-text">
            <span class="course-title uppercase block">Diploma in python</span>
            <span class="course-star block text-yellow">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <span class="course-outcome block">Diploma in python</span>
            <span class="course-duration block">3 Years</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="course-box">
          <div class="course-img"></div>
          <div class="course-text center-text">
            <span class="course-title uppercase block">Diploma in python</span>
            <span class="course-star block text-yellow">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <span class="course-outcome block">Diploma in python</span>
            <span class="course-duration block">3 Years</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="course-box">
          <div class="course-img"></div>
          <div class="course-text center-text">
            <span class="course-title uppercase block">Diploma in python</span>
            <span class="course-star block text-yellow">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <span class="course-outcome block">Diploma in python</span>
            <span class="course-duration block">3 Years</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12  centered-flex home-section">
    <button
      class="app-button uppercase bg-header text-white"
      style="width: 200px;"
    >
      View All
    </button>
  </div>
</div>
