<div class="container-fluid home-section top-nav-bg ">
  <div class="col-lg-12 center-text">
    <span class="section-header block uppercase">Upcoming events</span>
    <span class="section-header-sub block">You don't want to miss out</span>
  </div>
  <div class="spacer"></div>

  <div class="col-lg-6 offset-lg-3">
    <div class="event-box" style="background: #EBEBEB;">
      <span class="block spacer-min title"
        >The 20th NIIT Nigeria National Scholarship</span
      >
      <span class="block spacer-min">
        <span class="dark-pill">Saturday 13th July 2019</span> &nbsp; &nbsp;
        <span class="dark-pill">9 AM</span>
      </span>
      <span class="block spacer-min"
        >The 20th NIIT Nigeria National Scholarship is being announced to
        provide Scholarship assistance to deserving and meritorious students
        across various disciplines - School Leavers, Under Graduates, Graduates
        [Unemployed, Under-Employed], Individuals desirous of enhancing their
        technical skill-sets and students ...
      </span>
      <span class="block"></span>
    </div>
  </div>
  <div class="col-lg-12  centered-flex home-section">
    <button
      class="app-button uppercase bg-header text-white"
      style="width: 200px;"
    >
      View All
    </button>
  </div>
</div>
