.event-box {
  padding: 20px;
}
.spacer {
  padding: 20px;
}

.spacer-min {
  margin-bottom: 10px;
}

.home-section {
  padding: 50px;
  padding-bottom: 70px;
}

.title {
  font-size: 17px;
  font-weight: bold;
}

.dark-pill {
  padding: 10px;
  background-color: #2c3949;
  display: inline-block;
  color: white;
  font-size: 12px;
}
