<div class="container-fluid content-section bg-header centered-flex">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-4 center-text text-white">
        <span class="icon"><i class="fa fa-users"></i></span>
        <br />
        <span class="content-text block">35M+ IMPACTED LEARNERS</span>
      </div>
      <div class="col-lg-4 center-text text-white">
        <span class="icon"><i class="fa fa-users"></i></span>
        <br />
        <span class="content-text block">40 COUNTRIES</span>
      </div>
      <div class="col-lg-4 center-text text-white">
        <span class="icon"><i class="fa fa-users"></i></span>
        <br />
        <span class="content-text block">17K+ IMPACTED SCHOOLS</span>
      </div>
    </div>
  </div>
</div>
