<div class="container-fluid partner">
  <div class="row">
    <div class="col-lg-4 partner centered-flex partner-color">
      <div>
        <span class="uppercase block" style="font-weight:bold ; font-size:30px;"
          >Our</span
        >
        <span class="uppercase block" style="font-weight:bold ; font-size:47px;"
          >Partners</span
        >
        <span class=" block">Another reason why NIIT stands out.</span>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="carousel-holder col-lg-8 offset-lg-2">
        <!-- start carousell -->
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="..." alt="First slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="..." alt="Second slide" />
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="..." alt="Third slide" />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <!-- end carousel -->
      </div>
    </div>
  </div>
</div>
