<div class="container-fluid home-section bg-header ">
  <div class="col-lg-6 offset-lg-3">
    <div class="row">
      <div class="col-lg-6 center-text text-white centered-flex">
        <div class="">
          <span class="icon"><i class="fa fa-book"></i></span>
          <br />
          <span class="content-text uppercase block">classroom learning</span>
          <span class="desc-text block"
            >Access to certified instructors and high quality course content by
            industry experts
          </span>
        </div>
      </div>
      <div class="col-lg-6 center-text text-white centered-flex">
        <div class="">
          <span class="icon"><i class="fa fa-book"></i></span>
          <br />
          <span class="content-text uppercase block">earn certificate</span>
          <span class="desc-text block"
            >NIIT certification is recognized in over 40 countries. Earn a
            certification from us today.
          </span>
        </div>
      </div>
      <div class="col-lg-6 center-text text-white centered-flex">
        <div class="">
          <span class="icon"><i class="fa fa-book"></i></span>
          <br />
          <span class="content-text uppercase block">flexible schedule</span>
          <span class="desc-text block"
            >Start any course at your own time and pace.
          </span>
        </div>
      </div>
      <div class="col-lg-6 center-text text-white centered-flex">
        <div class="">
          <span class="icon"><i class="fa fa-book"></i></span>
          <br />
          <span class="content-text uppercase block">24/7 support</span>
          <span class="desc-text block"
            >Well trained customer support agents are avaliable 24/7 to give you
            necessary guidance.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
