.content-text {
  font-size: 20px;
  padding: 15px 0;
}
.icon {
  margin-bottom: 10px;
  font-size: 30px;
}
.desc-text {
  font-size: 14px;
  padding: 10px 0;
}

.home-section {
  padding: 100px 0px;
}
