/* You can add global styles to this file, and also import other style files */
@import "styles/reset";
body {
  font-family: "Open Sans";
}

.content-section {
  min-height: 600px;
}

$grey: #6a7480;
$headerBg: #2c3949;
$niitBlue: #4682c4;
$borderColor: #e0e0e0;
.text-white {
  color: #ffffff;
}

.top-nav-bg {
  background-color: $grey;
}
.bg-header {
  background-color: $headerBg;
}

.bg-hero {
  background-image: url("assets/imgs/niit_index.jpg");
  background-size: cover;
}
.bg-niit {
  background-color: $niitBlue;
}
.pull-right {
  float: right;
}
.error-text-red {
  color: rgb(172, 11, 11);
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}
.center-text {
  text-align: center;
}

.home-section {
  box-sizing: border-box;
  margin: 50px 0;
}
.block {
  display: block;
}

.uppercase {
  text-transform: uppercase;
}
.section-header {
  font-size: 25px;
  font-weight: bold;
}
.section-header-sub {
  font-size: 15px;
  //   font-weight: bold;
}

.simple-flex {
  display: flex;
  align-items: center;
}

.centered-flex {
  @extend .simple-flex;
  justify-content: center;
}

.form-box {
  box-sizing: border-box;
  padding: 25px 40px;
  border-radius: 5px;
  box-shadow: 0 0 30px 0 $borderColor;
}

.form-row {
  padding: 10px 0;
}

.text-box {
  display: block;
  border: 1px solid $borderColor;
  border-radius: 4px;
  width: 100%;
  padding: 15px 10px;
  font-size: 14px;
}

.select-css {
  cursor: pointer;
  display: block;
  font-size: 14px;
  //   font-family: sans-serif;
  //   font-weight: 700;
  color: #444;
  //   line-height: 1.3;
  //   padding: 0.6em 1.4em 0.5em 0.8em;
  padding: 15px 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid $borderColor;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  //   background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
  //     linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);

  background-image: url("assets/imgs/arrow_down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight: normal;
}

// body {
//   //   padding: 3rem;
// }

.app-button {
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  padding: 15px 10px;
  font-size: 14px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba($color: #000000, $alpha: 0.6);
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
}
