<app-hero></app-hero>
<app-home-impact></app-home-impact>
<app-courses></app-courses>
<app-four-points></app-four-points>
<app-events></app-events>
<app-alumni></app-alumni>
<app-partners></app-partners>
<app-footer></app-footer>
